
<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/adminNavBar.ejs') %>
    <div class="mx-auto" style="width: 90%">
      <div class="d-flex">
        <%- include('../partials/adminSideBar.ejs') %>

        <div class="container text-center width">
        <h3 class="mx-auto">categories</h3>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Add category
</button>


         <!-- table -->
         <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>>
      <th scope="col">Category</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <%data.forEach((val,key)=>{%>
    <tr>
      <th scope="row"><%=key+1%></th>
      <td><%=val.name%></td>
      <td>
        <a class="btn btn-success" href="/admin/category/edit/<%=val._id%>">Edit</a>
        <a class="btn btn-danger" href="/admin/category/delete/<%=val._id%>">Delete</a>
      </td>
    </tr>
        
    <%})%>
  </tbody>
</table>

        </div>
      </div>
    </div>


<!-- add product popup menu -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form action="/admin/category/add" method="post">
                <input name="name" type="text" id="addCategory" class="form-control mx-auto" placeholder="Add Category" style="max-width: 400px;"/>
                <input type="submit" hidden />
         </form>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
 <!-- poupu menu end -->

    <script defer>
        document.getElementById("searchForm").style.display ='none'


     let navHilight= document.getElementById("category")
      navHilight.classList.add('active')
      navHilight.classList.remove('link-dark')
    </script>
  </body>
</html>
