<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') %>
  <body>
    <!-- nav bar -->
    <%- include('../partials/userNavBar.ejs') %>

<section class="h-100 gradient-custom">
  <form action="/product/checkout" method="post">
  <div class="container py-5">
    <div class="row d-flex justify-content-center my-4">
      <div class="col-md-8">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Cheek Out</h5>
          </div>
          <div class="card-body">
            <div class="">
                
                <ul class="list-style9 no-margin">
                  <li>
                      <div class="">
                        <strong
                          class="margin-10px-left xs-margin-four-left text-sky"
                          >Name:</strong
                        >
                      </div>
                      <div class=" ms-2 mt-2">
                        <h6><%=user.name%></h6>
                      </div>
                  </li>
                  <li>
                      <div class="">
                        <strong
                          class="margin-10px-left xs-margin-four-left text-sky"
                          >Phone Number:</strong
                        >
                      </div>
                      <div class=" ms-2 mt-2">
                        <h6><%=user.number%></h6>
                      </div>
                  </li>
                  <li>
                      <div class="">
                        <strong
                          class="margin-10px-left xs-margin-four-left text-sky"
                          >Email</strong
                        >
                      </div>
                      <div class=" ms-2 mt-2">
                        <h6><%=user.email%></h6>
                      </div>
                  </li>
                  <li>
                      <div class="">
                        <strong
                          class="margin-10px-left xs-margin-four-left text-sky"
                          >Address</strong
                        >
                      </div>
                      <div class=" ms-2 mt-2">

                           
                      <select id="select" class="custom-select" name="address" required>

                      </select>
       
                      </div>
                      <!-- <a href="/product/addAddressCheckout" type="button" class="btn btn-primary " style="display: inline;">
                        Add New Address
                    </a>  -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Add New Address
                    </button>
                  </li>
                  <li>
                      <div class="form-group">
                        <label class="margin-10px-left xs-margin-four-left text-sky" for="exampleInputEmail1">have any coupon</label>
                        <input name="code" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Coupon">
                        <p id="error" class="text-danger"></p>
                      </div>
                      <div class=" ms-2 mt-2">
                      <a onclick="varifyCoupon()" type="button" class="btn btn-primary " style="display: inline;">
                        Apply
                    </a>
                      </div>
                  </li>
                </ul>

            </div>
            <!-- Single item -->

            <hr class="my-4" />

          </div>
          <!-- Add address Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <div class="card p-4">
                <div class="text-left mt-4">
                    <h5>Add Address</h5>
                </div>

                <div class="mt-2">
                  <textarea id='address' name="address" class="form-control" rows="5"></textarea>
                </div>
               <p id="inputErr" class="text-danger"></p> 
                <!-- <div class="mt-3">
                    <button type="submit" class="button btn btn-primary w-100 d-flex justify-content-center align-items-center"><span>Save</span><i class="fa fa-long-arrow-right ms-2"></i></button>
                </div> -->
            </div>
      </div>
      <div class="modal-footer">
        <button id="close" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button onclick="addAddress()" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
        </div>
        <!-- <div class="card mb-4">
          <div class="card-body">
            <p><strong>Expected shipping delivery</strong></p>
            <p class="mb-0">12.10.2020 - 14.10.2020</p>
          </div>
        </div> -->
        <!-- <div class="card mb-4 mb-lg-0">
          <div class="card-body">
            <p><strong>We accept</strong></p>
            <img class="me-2" width="45px"
              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
              alt="Visa" />
            <img class="me-2" width="45px"
              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
              alt="American Express" />
            <img class="me-2" width="45px"
              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
              alt="Mastercard" />
            <img class="me-2" width="45px"
              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce/includes/gateways/paypal/assets/images/paypal.webp"
              alt="PayPal acceptance mark" />
          </div>
        </div> -->
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Summary</h5>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li
                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                Price
                <span id="tp1">&#8377; <%=totalPrice%></span>
              </li>
                <input type="text" name="totalPrice" value="<%=totalPrice%>" hidden>
              <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                <!-- Shipping
                <span>Gratis</span> -->
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                <div>
                  <strong>Total amount</strong>
                  <strong>
                    <p class="mb-0">(including GST)</p>
                  </strong>
                </div>
                <span>&#8377;<strong id="tp2"> <%=totalPrice%></strong></span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                <div>
                  <strong>Select Payment method</strong>
                  <br>
                   <label>
                    <input type="radio" name="payMethod" value="cod" required />
                    <span class="radio"></span>
                    <span>Cash On Delivery</span>
                  </label>
                  <br>
                   <label>
                    <input type="radio" name="payMethod" value="paypal" />
                    <span class="radio"></span>
                    <span>PayPal</span>
                  </label>
                  <br>
                   <label>
                    <input type="radio" name="payMethod"  value="razorpay"/>
                    <span class="radio"></span>
                    <span>Razorpay</span>
                  </label>
                  <br>
                   <label >
                    <input id="vallet" onclick="compareVallet()" type="radio" name="payMethod"  value="vallet"/>
                    <span class="radio"></span>
                    <span>Vallet</span>
                    <p id="valletErr" class="text-danger"></p>
                  </label>
                </div>
              </li>
            </ul>

            <!-- <a href="/product/checkout" type="button" class="btn btn-primary btn-lg btn-block">
                Buy
            </a> -->
            <button  type="submit" class="btn btn-primary btn-lg btn-block">
                Buy
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>
</section>

<script>
  function changeAddress(productId) {
    console.log(productId);
    fetch(`/product/cart/increment/${productId}`,{
      method: 'GET',
    }).then(data=> console.log(data))
  }

   function varifyCoupon(){
    let code=  document.querySelector('input[name="code"]').value
    let totalPrice=  document.querySelector('input[name="totalPrice"]').value
    let tp1 = document.getElementById('tp1')
    let tp2 = document.getElementById('tp2')
    fetch(`/product/varifyCoupon?coupon=${code}`)
    .then(res=> res.json())
    .then(async data =>{
      if(data){
        if (new Date(data.expireAt) < new Date()) {
       document.getElementById('error').innerHTML = 'Coupon Expired'
        }else{
        let offer = data.offer
        let offerPrice =Math.floor(totalPrice -(totalPrice * offer/100))
        tp1.innerHTML =`&#8377; ${offerPrice}`
        tp2.innerHTML =` ${offerPrice}`
        fetch(`/product/updatePrice/${offerPrice}`)
        }
      }else{
       document.getElementById('error').innerHTML = 'Invalied Coupon'
      }
    })
   } 
   function compareVallet() {
    let tp2 = document.getElementById('tp2').innerHTML
    let totalPrice = Number(tp2)
    fetch(`/profile/vallet/compare?totalPrice=${totalPrice}`).then(res=> res.json())
    .then(data=>{
      if (data.status !=true) {
          document.getElementById('valletErr').innerHTML = data.status
          document.getElementById('vallet').disabled = true;  
      }

    })
   }

   function addAddress() {
   let address = document.getElementById('address')
      fetch(`/product/addAddressCheckout`,{
        method:'post' ,
        headers: {"Content-Type": "application/json",},
        body:JSON.stringify({address:address.value})
      }).then(data=>data.json(data))
      .then(data=>{
       if(!data.inputErr){
        updateAddress()
       document.getElementById("close").click(); 
       }else if(data.inputErr){
        document.getElementById('inputErr').innerHTML= data.inputErr
       }
      })
   }
   updateAddress()
  function updateAddress(){
    fetch('/product/getaddress').then(data=>data.json())
    .then(data=>{
      let temp
      for(val of data){
        temp +=`
          <option selected value="${val}">${val}</option>
        `}
      document.getElementById("select").innerHTML=temp
    })
   }
</script>
  <style>
   .gradient-custom {
/* fallback for old browsers */
background: #6a11cb;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
} 
      .list-style9 {
        list-style: none;
        padding: 0;
      }

      .list-style9 li {
        position: relative;
        padding: 0 0 15px 0;
        margin: 0 0 15px 0;
        border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
      }

      .list-style9 li:last-child {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
      }

      .text-sky {
        color: #02c2c7;
      }
  </style>  
  </body>