<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') %>
  <body>
    <!-- nav bar -->
    <%- include('../partials/userNavBar.ejs') %>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
      integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ="
      crossorigin="anonymous"
    />
    <div class="container">
      <div class="team-single">
        <div class="row">
          <!-- <div class="col-lg-4 col-md-5 xs-margin-30px-bottom">
                <div class="team-single-img">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                </div>
                <div class="bg-light-gray padding-30px-all md-padding-25px-all sm-padding-20px-all text-center">
                    <h4 class="margin-10px-bottom font-size24 md-font-size22 sm-font-size20 font-weight-600">Class Teacher</h4>
                    <p class="sm-width-95 sm-margin-auto">We are proud of child student. We teaching great activities and best program for your kids.</p>
                    <div class="margin-20px-top team-single-icons">
                        <ul class="no-margin">
                            <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="fab fa-google-plus-g"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div> -->

          <div class="col-lg-8 col-md-7 container">
              <h4 class="font-size38 sm-font-size32 xs-font-size30 pt-5 text-center">
                <%=user.name%>
              </h4>
            <div class="team-single-text padding-50px-left sm-no-padding-left">
              <!-- <p class="no-margin-bottom">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum voluptatem.</p> -->
              <div class="contact-info-section margin-40px-tb mt-5">
                <ul class="list-style9 no-margin">
                  <li>
                    <div class="row">
                      <div class="col-md-5 col-5">
                        <i class="fa fa-user text-green"></i>
                        <strong
                          class="margin-10px-left xs-margin-four-left text-green"
                          >Name:</strong
                        >
                      </div>
                      <div class="col-md-7 col-7">
                        <h6><strong><%=user.name%></strong></h6>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="row">
                      <div class="col-md-5 col-5">
                        <i class="fas fa-mobile-alt text-purple"></i>
                        <strong
                          class="margin-10px-left xs-margin-four-left text-purple"
                          >Phone:</strong
                        >
                      </div>
                      <div class="col-md-7 col-7">
                        <h6><strong><%=user.number%></strong></h6>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="row">
                      <div class="col-md-5 col-5">
                        <i class="fas fa-envelope text-pink"></i>
                        <strong
                          class="margin-10px-left xs-margin-four-left text-pink"
                          >Email:</strong
                        >
                      </div>
                      <div class="col-md-7 col-7">
                        <h6><strong><%=user.email%></strong></h6>
                      </div>
                    </div>
                  </li>
                <a
                  href="/profile/edit"
                  class="btn btn-primary mx-auto"
                  type="button"
                  style="background-color: rgb(99, 39, 120)"
                  >Edit detail</a
                >
                  <li class="mt-4">
                    <%for(val in user.address){%>
                    <div class="row">
                      <div class="col-md-5 col-5">
                        <i class="fas fa-map-marker-alt text-green"></i>
                        <strong class="margin-10px-left text-green"
                          >Address: <%=Number(val)+1%></strong
                        >
                        <a href="/profile/editAddress/<%=val%>" class="fa fa-pen text-primary"></a>
                        <a href="/profile/deleteAddress/<%=val%>" class="fa fa-trash text-danger ps-2"></a>
                      </div>
                      <div class="col-md-7 col-7">
                        <p>
                            <pre>
<%=user.address[val]%>  
                            </pre>
                        </p>        
                      </div>
                    </div>
                    <%}%>
                  </li>
                </ul>

                <a
                  href="/profile/addAddress"
                  class="btn btn-primary mx-auto"
                  type="button"
                  style="background-color: rgb(99, 39, 120)"
                  >Add Address</a
                >
                <br>
                <a
                  href="/profile/viwOrders"
                  class="btn btn-primary mx-auto my-4"
                  type="button"
                  >View Oreders</a
                >
              </div>
              <div class="mx-auto mt-5">
              </div>
            </div>
          </div>

          <div class="col-md-12"></div>
        </div>
      </div>
    </div>
    <script>
      
     let navHilight= document.getElementById("profile")
      navHilight.classList.add('active')
    </script>
    
  </body>
</html>
