<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') %>
  <body>
    <!-- nav bar -->
    <%- include('../partials/userNavBar.ejs') %>

    <div class="container">
      <h5>Mobile</h5>
      <div class="mt-2 d-flex" style="overflow-x: auto; scrollbar-width: none">
        <%for(product of products){ %>
        <div href="hello" style="float: left; display: inline">
          <div class="card" style="width: 18rem">
            <img
              class="card-img-top mx-auto"
              src="./images/<%=product._id%>.jpg"
              alt="Card image cap"
              style="width: 8rem;"
            />
            <div class="card-body">
              <h5 class="card-title"><%=product.name%></h5>
              <p class="card-text">Price : <%= product.price%></p>
              <!-- <a href="" class="btn btn-primary"></a> -->
            </div>
          </div>
        </div>
        <%}%>
      </div>
    </div>

    <script>

    </script>
  </body>
</html>
